# Blacklist everything
*
# Whitelist all directories
!*/
# Whitelist the file you're interested in. 

!/config/apotheosis/adventure.cfg
!/config/apotheosis/apotheosis.cfg
!/config/fancymenu/
!/config/fancymenu/**
!/config/yosby/
!/config/yosby/**
!/config/connector.json
!/config/fml.toml
!/config/modern_industrialization.toml
!/config/modernfix-mixins.properties
!/config/propertymodifier-common.toml

!/defaultconfigs/*

!/fancy/fancymenu/options.txt
!/fancy/fancymenu/config.txt

!/kubejs/assets/
!/kubejs/assets/**
!/kubejs/config/
!/kubejs/config/**
!/kubejs/data/
!/kubejs/data/**
!/kubejs/client_scripts/
!/kubejs/client_scripts/**
!/kubejs/server_scripts/
!/kubejs/server_scripts/**
!/kubejs/startup_scripts/
!/kubejs/startup_scripts/**

!/minemenu/*
!/mods/*

!/shaderpacks/*

!/.gitattributes
!/.gitignore
!/options.txt
!/.packwizignore
!/index.toml
!/pack.toml
!/unsup.toml
!/README.md
!/modlist.md
!/unsup.ini
*.mrpack
*.sh
*.exe
*.disabled